body{
    margin: 10px;
    padding: 10px;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    margin: 30px;
    padding: 10px 40px;
}
.measure{
    width: 50%;
}
.measure img{
    width: 95%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 40px;
    color: antiquewhite;
}
.mission{
    border-left: 3px solid rgb(226, 39, 15);
    padding-left: 5px;
}
.card{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 10px;
}
.box{
    display: flex;
}
.card img{
    height: 150px;
    width: 150px;
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 1px;
}



