@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: AAAAAA;
}
main{
    margin: 15px;
    padding: 15px;
}
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 3px;
}
h1{
    font-size: 3em;
}
a{
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
}
.list{
    justify-content: space-between;
}
.list li{
    display:inline-flex;
    list-style: none; 
    margin-left: 35px;  
    text-transform: uppercase;
}
.list li:hover{
    background-color: #55efc4;
}

.button1{
    height: 25px;
    width: 50px;
    border: 1 solid whitesmoke;
    background-color: #E02C6D;
    border-radius: 35px;
    color: antiquewhite;
    margin-top: 50px;
    padding: 10px;
    text-decoration: none;
}
.top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.top-sub{
    margin-left: 25px;  
}
.top-sub p{
    margin-bottom: 50px;  
}
.top-sub img{
    margin-left: 60px;
    Width: 440px;
    Height: 414px;
    background-image: url(images/Circle\ design.svg);
    background-size: 90%;
    background-repeat: no-repeat;
}
.hidden{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 1110px;
    border: 1px solid whitesmoke;
    margin-left: 110px;
    margin-top: 80px;
    border-left: none;
    border-right: none;
}
h3{
    text-align: center;
}
.fas fa-arrow-right{
    color: white;
}
.fa-star{
    color: gold;
}
.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    grid-row-gap: 20px;
}

.middle{
    padding-left: 10px;
    border: 1px solid whitesmoke;
    background-color: #FFFFFF;
    border-radius: 5px;
    grid-column-gap: 10px;
    
}
.middle img{
    width: 300px;
    height: 256px;
    left: 210px;
    top: 2064px;
}
.images-rating{
    display: flex;
}
.button2{
    align-items: flex-end;
    margin-left: 10px;
    width: 99px;
    height: 24px;
    text-decoration: none;
    margin-top: 50px;
}
footer{
    background-color: #0A0826;
    color:#FFFFFF;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}
#footer-style{
    margin-top: 50px;
    padding: 25px;
}
#icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


