body{
    font-family: 'Lilita One', cursive;
    font-family: 'Merriweather', serif;
    margin: 10px;
    padding: 10px;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    margin: 30px;
    padding: 10px 40px;
}
.measure{
    width: 50%;
    padding: 35px;
}
.measure img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 40px;
    color: antiquewhite;
}
.mission{
    border-left: 3px solid rgb(226, 39, 15);
    padding-left: 10px;
}
.card{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
}
.box{
    display: flex;
    padding: 25px;
}
.card img{
    height: 150px;
    width: 150px;
}
footer{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #130f40;
    color: antiquewhite;
    text-align: center;
    padding: 1px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif
}


